<!DOCTYPE HTML>
<html>
<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<link href="/tablero/css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<title>clip Website Template | Home :: W3layouts</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.1.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				//To switch directions up/down and left/right just place a "-" in front of the top/left attribute
				//Caption Sliding (Partially Hidden to Visible)
				$('.boxgrid.caption').hover(function(){
					$(".cover", this).stop().animate({top:'170px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'220px'},{queue:false,duration:160});
				});
			});
		</script>



<script type="text/javascript">
		$(document).ready(function()
{
$("#boton").click(function(){
        $.get("/tablero/tabi/blog", function(htmlexterno){
   $("#cargaexterna").html(htmlexterno);
    	});
});
});

</script>



	</head>
	<body>
		<!-- Start-wrap -->
		
			<!-- Start-Header-->
			<div class="header">
				<div class="wrap">
				<!-- Start-logo-->
				<div class="logo">
					<a href="index.html"><img src="/tablero/images/logoIeepo.png" title="logo" /></a>
				</div>
				<!-- End-Logo-->
				<!-- Start-Header-nav-->
				<div class="header-nav">
					<ul>
				
						<li class="active"><a href="/tablero/tabi/index">Inicio</a></li>
						<li><a href="/tablero/tabi/blog">Instrucciones</a></li>
						<li><a href="/tablero/tabi/artistas">Administracíon</a></li>
						<li><a href="#">Acerca de</a></li>
						<li><a href="/tablero/tabi/contactos">Contacto</a></li>

					</ul>
				</div>
				<div class="clear"> </div>
				<!-- End-Header-nav-->
			</div>
			<!-- End-Header-->

			<div class="clear"> </div>
			<!-- content-gallery-->
			


			</div>
			<div class="wrap">
			<div class="content-gallery">
		
				<div class="boxgrid caption">
				<a href="/tablero/tabi/sujeto" target="_BLANK">
				<img src="/tablero/images/feliz.png"/>  
				<div class="cover boxcaption">
				<center><h3>Feliz</h3></center>
					
					
				
				</div>
			</div>
			</div>

			<div class="content-gallery">
				<div class="boxgrid caption">
				<a href="/tablero/tabi/sujeto" target="_BLANK">
				<img src="/tablero/images/triste.png"/>
				<div class="cover boxcaption">
					<center><h3>Triste</h3></center>
					
				</div>
			</div>
			</div>

			<div class="content-gallery">
				<div class="boxgrid caption">
				<a href="/tablero/tabi/sujeto" target="_BLANK">
				<img src="/tablero/images/enfermo.png"/>
				<div class="cover boxcaption">
					<h3>Enfermo</h3>
					
				</div>
			</div>
			</div>

			<div class="content-gallery">
				<div class="boxgrid caption">
				<a href="/tablero/tabi/sujeto" target="_BLANK">
				<img src="/tablero/images/confundido.png"/>
				<div class="cover boxcaption">
				<center><h3>Confundido</h3></center>
					
				</div>
			</div>
			</div>

			<div class="content-gallery">
				<div class="boxgrid caption">
				<a href="/tablero/tabi/sujeto" target="_BLANK">
				<img src="/tablero/images/sorprendido.png"/>
				<div class="cover boxcaption">
					<h3>Sorprendio</h3>
					
				</div>
			</div>
			</div>


			<div class="content-gallery">
				<div class="boxgrid caption">
				<a href="/tablero/tabi/sujeto" target="_BLANK">
				<img src="/tablero/images/enojado.png"/>
				<div class="cover boxcaption">
					<h3>Enojado</h3>
					
				</div>
			</div>
			</div>	

			</div>
			</div>
<div class="clear"> </div>
			<!-- End-content-gallery-->
			<!-- DC Pagination:C9 Start -->
			<div class="wrap">
<!-- DC Pagination:A3 Start -->
						<ul class="dc_pagination dc_paginationA dc_paginationA03">
						  <li><a href="#" class="first">First</a></li>
						  <li><a href="#" class="previous">Previous</a></li>
						  <li><a href="#">1</a></li>
						  <li><a href="#">2</a></li>
						  <li><a href="#" class="current">3</a></li>
						  <li><a href="#">4</a></li>
						  <li><a href="#">5</a></li>
						  <li><a href="#" class="next">Next</a></li>
						  <li><a href="#" class="last">Last</a></li>
						  
						</ul>
						<!-- DC Pagination:A3 End -->
    		
    		<div class="clear"> </div>

<!-- DC Pagination:C9 End -->

		</div>
	<div class="clear"> </div>
		<div class="footer">
				<div class="wrap">
				<h3>SAY HELLO</h3>
				
			
			<div class="footerlinks">
				<div class="share">
		                	<li><a href="#" target="_blank" title="Facebook"><span class="social fbook"> </span></a></li>
		                	<li><a href="#" target="_blank" title="twitter"><span class="social twitter"> </span></a></li>
		                    <li><a href="#" target="_blank" title="tumblr"><span class="social tumblr"> </span></a></li><br />
		                    <li><a href="#" target="_blank" title="delicious"><span class="social delicious"> </span></a></li>
		                	
		                </div>

				
			</div>
			</div>
			</div>



</div>

			<div class="footer1">
			
			<audio width="300" height="32" src="\tablero\abuela-tengo-dolor-en-el-oido.wav" controls="" autoplay="autoplay" preload="preload"> </audio>

<button>
Hola esto es un <b>botón</b>
			
	<p class="link"><span> Instituto Estatal De Educacion Publica De Oaxaca	</span></p>
</div>
		<!-- End-wrap -->
		
	</body>
</html>

